.button {
    display: grid;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    background: rgb(0, 67, 139);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button:hover:not(:active):not(:disabled) {
    background: rgb(0, 112, 197);
}

.button-group {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    gap: 1px;
}