.shell>.sidebar {
    background: #eee;

    display: grid;
    grid-template-rows: auto 1fr;
    
    align-items: start;
}

.sidebar>.nav-items {
    display: grid;
    grid-auto-rows: auto;
}


.nav-items>.nav-link.active {
    background: #8ec8ff;
}


.nav-items>.nav-link {
    text-decoration: none;
    color: #164f85;
    padding: 5px;

    transition-property: background-color, color;
    transition-duration: 0.3s;
}

.nav-items>.nav-link:hover {
    background: #164f85;
    color: white
}